/* RadDemo v0.2 */
/* https://github.com/sbddesign/raddemo */

body,html {
    margin:0;
    padding: 0;
    height:100%;
}

.hide-fade {
    opacity:0 !important;
    transition: opacity 0.5s !important;
}

#rd-pause {
    width: 4rem;
    height:4rem;
    background-image:url('../svg/pause.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.25;
    position:fixed;
    left:2rem;
    top:2rem;
    z-index:99;

    transition: opacity 0.25s;
}

#rd-debug {
    position: fixed;
    top: 3rem;
    left: 7rem;
    font-family: sans-serif;
    background: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: 0.5;
}

video.raddemo {
    width:100%;
    height: auto;
}

@media (min-aspect-ratio: 17/9) {
    video.raddemo {
        width: auto;
        height:100%;
        margin: auto;
        display: block;
    }
}